# Nuxt dev/build outputs
.data
.nuxt/*
.nitro
.cache
dist
.vscode/
# Node dependencies
node_modules/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
sudo yum -y install https://repo.mysql.com//mysql80-community-release-el8-9.noarch.rpm

qJH0A=egRvlA

ALTER USER 'root'@'localhost' IDENTIFIED BY '自己的新密码'